<mat-card-title align="center">Noticias NBA de Hoy</mat-card-title>

<mat-grid-list cols="1" *ngIf="!resNews2; else divLoadedNews">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  <ng-template #divLoadedNews>

    
        <mat-card *ngFor="let element of resNews2">
        <mat-divider></mat-divider>

<br>        <mat-divider></mat-divider>

    <br>
            <mat-card-header>
                <mat-card-title> {{element.Title}}</mat-card-title>
                <mat-card-subtitle>{{element.Updated}}</mat-card-subtitle>
                <mat-card-title-group>{{element.Team}}</mat-card-title-group>

            </mat-card-header>
            <mat-card-content>            <mat-card-title-group>{{element.Source}}</mat-card-title-group></mat-card-content>

            <br>
            <mat-card-content>
                                            
                              <button color="warn"> <strong>{{element.Content}} </strong> </button>
                
            </mat-card-content>    
                <br>
                
<mat-card-content><mat-card-footer>{{element.TimeAgo}}</mat-card-footer></mat-card-content>                
                
    </mat-card>
    
    <mat-divider></mat-divider>
    
  </ng-template>