.top-sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}

.miniButton{
  display: none;
}

.menubar{
  background: linear-gradient(#000000, #444444);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

button{
  margin: 2px;
}



@media screen and (max-width: 768px) {
  .menubar {
    flex-direction: column, left;
    align-items: center;
  }

  button{
    margin: 2px;
    /*max-width: 20px;
    min-width: 20px;/* 
    display: none; */

    
  }

  .miniButton{
    display: flex;
  }
}

:host(.mobile-screen) {
  background-color: #000000;
}

.spacer{
  flex: 1 1 auto;
}


