<header class="top-sticky">
  <mat-card>
    <img  mat-card-image src="../../../../assets/images/logotopSLAPP.jpg" alt="toplogoSlapp">
  </mat-card>

  <mat-toolbar class="menubar">


    <button mat-raised-button extended color="primary" [matMenuTriggerFor]="myteam"><strong>Mi Equipo</strong></button>
    <mat-menu #myteam="matMenu">
      <button mat-menu-item routerLink="/dashboard/myteam/infoGMs" routerLinkActive="active"><mat-icon mat-list-item>fingerprint</mat-icon>Info</button>


      <button mat-menu-item [routerLink]="['/dashboard/myteam/players', AKA]"
              routerLinkActive="active"><mat-icon mat-list-item>groups</mat-icon>Roster</button>



    </mat-menu>

    <button mat-raised-button extended color="primary" [matMenuTriggerFor]="miliga"><strong>Mi Liga</strong></button>
    <mat-menu #miliga="matMenu">
      <button mat-menu-item routerLink="/dashboard/myleague/equipos" routerLinkActive="active">
        <mat-icon mat-list-item>groups</mat-icon> Equipos </button>
      <button mat-menu-item routerLink="/dashboard/myleague/playersfa" routerLinkActive="active">
        <mat-icon mat-list-item>2k</mat-icon> Agencia Libre </button>
      <button mat-menu-item routerLink="/dashboard/myleague/normativa" routerLinkActive="active">
        <mat-icon mat-list-item>format_list_numbered</mat-icon> Normativa </button>
    </mat-menu>

    <button mat-raised-button extended color="accent" [matMenuTriggerFor]="minba"><strong>NBA</strong></button>
    <mat-menu #minba="matMenu">
      <button mat-menu-item routerLink="/dashboard/mynba/nbastatsref" routerLinkActive="active">
        <mat-icon mat-list-item>poll</mat-icon> NBA StatsReference </button>
      <button mat-menu-item routerLink="/dashboard/mynba/nbanews" routerLinkActive="active">
        <mat-icon mat-list-item>newspaper</mat-icon> NBA News </button>
      <button mat-menu-item routerLink="/dashboard/mynba/nbaScorebox" routerLinkActive="active">
        <mat-icon mat-list-item>scoreboard</mat-icon> NBA ScoreBox </button>
      <button mat-menu-item routerLink="/dashboard/mynba/nbaPlayers" routerLinkActive="active">
        <mat-icon mat-list-item>info</mat-icon> NBA Players </button>

    </mat-menu>


   <!--  <button mat-raised-button extended color="warn" [matMenuTriggerFor]="comis" disabled="true">Comisionado</button>
    <mat-menu #comis="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->






    <span class="spacer"></span>


    <button mat-mini-fab color="warn" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon mat-list-item>home</mat-icon></button>

    <!--     <button mat-raised-button extended color="warn">{{ user.name }}</button> -->

    <mat-label>{{ user.name }}</mat-label>

    <!-- <pre>{{ user.email }}</pre> -->
    <!-- <pre>{{ user.uid }}</pre> -->


    <button mat-button
            (click)="logout()">Logout
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>
</header>
