.top-sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}

.menubar{
  background: linear-gradient(#000000, #444444);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

button{
  margin: 2px;
}
