.top-sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}



.menubar{
  background: linear-gradient(#000000, #444444);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 16px;
  
}

button{
  margin: 2px;
}


 


:host(.mobile-screen) {
  background-color: #000000;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar{
  display: block;
  padding: 0;
  height: auto;
}
