
<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Normativa SLH</mat-card-title>
    </mat-card-header>
<mat-tab-group>
    <mat-tab [label]="tab" *ngFor="let tab of lotsOfTabs">
        <mat-card-content>Normativa SLH </mat-card-content></mat-tab>
  </mat-tab-group>
</mat-card> -->

<!-- <mat-tab-group fitInkBarToContent>
    <mat-tab label="Pag 1">Content 1</mat-tab>
    <mat-tab label="Pag 2">Content 2</mat-tab>
    <mat-tab label="Pag 3">Content 3</mat-tab>
    <mat-tab label="Pag 4">Content 4</mat-tab>
    <mat-tab label="Pag 5">Content 4</mat-tab>
    <mat-tab label="Pag 6">Content 4</mat-tab>
  </mat-tab-group> -->

  <h1> Angular 10 PDF Viewer</h1>
<div class="container">
    <textarea [(ngModel)] = "pdfSource"></textarea>
  <pdf-viewer [src]="pdfSource"
              [original-size]="false"
  ></pdf-viewer>
</div>