
<mat-sidenav-container fullscreen>
        
            
    <mat-sidenav #sidenav mode="side">
        <mat-toolbar>
            <span> Menú My Team </span>
            <span class="spacer"></span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a (click)="sidenav.toggle()"
                routerLink="/dashboard/myteam/infoGM"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>fingerprint</mat-icon>
                <span> Mi Equipazo </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>group</mat-icon>
                <span> Ofertas Recibidas </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>scoreboard</mat-icon>
                <span> Ofertas Enviadas </span>
            </a>
           
          
        </mat-nav-list>

    </mat-sidenav>
    
        <mat-toolbar>
            
            <span> Menu GM </span>

            <button mat-icon-button
                    (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
            </button>

            <span class="spacer"></span>
            
          <!--   <pre>{{ user.name }}</pre> -->
            <!-- <pre>{{ user.email }}</pre> -->
            <!-- <pre>{{ user.uid }}</pre> -->
            

         <!--    <button mat-button
                    (click)="#">Logout
                <mat-icon>logout</mat-icon>
            </button> -->

        </mat-toolbar>
    
<div class="container">

    <router-outlet></router-outlet>

</div>


</mat-sidenav-container>
