

<mat-grid-list cols="1" *ngIf="!dataSource; else divLoaded2">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  <ng-template #divLoaded2>
  
  <!-- 
  <div fxLayout="row wrap" fxLayoutAlign="center"> -->
  
  
 
  
  
  <!-- 
    <form [formGroup]="miForm">
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
      
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input formControlName="filter">
      </mat-form-field>
  
  
    </form>  -->
<!--   
    <mat-grid-list cols="1" *ngIf="!gminfoT; else divLoadedT">
      <mat-grid-tile>
          <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  
    
  <ng-template #divLoadedT> -->
  
   <!--  <mat-card>
    
      <mat-card-header class="tituloEquipo">
      <mat-card-title style="margin-left: 25px;"> {{gminfoT.EQUIPO}} </mat-card-title>  
      <br>
      <br>
      <mat-card-subtitle style="margin-left: 25px;"> {{ gminfoT.AKA }}</mat-card-subtitle>
  
          <span class="spacer"></span>
  
      <img mat-card-image [src]=[gminfoT.alt_img] style="margin-right: 25px;">
  
      </mat-card-header>
    </mat-card>
  
      
  </ng-template> -->
  <mat-card>

  
  <mat-card-content> 
  
    <table mat-table [dataSource]="listaFAs | pageFilter:page" class="mat-elevation-z8"> 
<!--     <table mat-table *ngFor="let element of listaFAs | pageFilter" class="mat-elevation-z8">  -->
    <!-- <table mat-table *ngFor="let element of myroster" class="mat-elevation-z8">  -->
  
   
   <!-- 
      <mat-selection-list #myp2>
          <mat-list-option *ngFor="let myp of myroster"> -->
    
            <!--         {{myp.TIPO }} - {{myp.POS}} : {{myp.PLAYER}} - {{myp.SALARIO}} $ - {{myp.YEARS}}
  
              </mat-selection-list> 
     
        -->

        <ng-container matColumnDef="PUJAR">
            <th mat-header-cell *matHeaderCellDef class="mypTIPO3"><small> Hacer Oferta </small> </th>
            <td mat-cell *matCellDef="let element"  class="mypTIPO2"> 
                <mat-card-actions>
                    <!-- <span class="spacer"></span> -->
                    <button mat-fab extended color="accent" [routerLink]="['/dashboard/myleague/pujar', element.PLAYER]">
                        <mat-icon>2k</mat-icon>Pujar</button>
                </mat-card-actions>
                </td>
          </ng-container>

   
     
       <ng-container matColumnDef="POS">
         <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> <small> Pos </small></th>
         <td mat-cell *matCellDef="let element" class="mypTIPO2"> {{element.POS}} </td>
       </ng-container>
      
     
       <ng-container matColumnDef="PLAYER">
         <th mat-header-cell *matHeaderCellDef class="mypNONMBRE"> Nombre </th>
         <td mat-cell *matCellDef="let element" class="mypTIPO2" style="font-size: larger; text-align: left;"> {{element.PLAYER}} </td>
       </ng-container>
     
       <ng-container matColumnDef="SALARIO">
         <th mat-header-cell *matHeaderCellDef class="mypTIPO3"><small> Salario</small> </th>
         <td mat-cell *matCellDef="let element" class="mypTIPO2"> 0 </td>
       </ng-container>
      
    
       <ng-container matColumnDef="YEARS">
         <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Años </th>
         <td mat-cell *matCellDef="let element"  class="mypTIPO2"> 0 </td>
       </ng-container>

       <ng-container matColumnDef="EQUIPO">
         <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Equipo </th>
         <td mat-cell *matCellDef="let element"  class="mypTIPO2"> {{element.EQUIPO}} </td>
       </ng-container>
      
     
     
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
     <!--     Row shown when there is no matching data.  -->
     <!-- 
       <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
       </tr>
      -->
     <!-- 
          </mat-list-option> -->
     
    
    </table>
     
  </mat-card-content>

  <mat-card-actions>

    <button mat-raised-button extended color="primary" (click)="prevPage()" >
        <mat-icon>navigate_before</mat-icon>Anterior</button>
    <span class="spacer"></span>
            <button mat-raised-button extended color="primary" (click)="nextPage()" >
                <mat-icon>navigate_next</mat-icon>Siguiente</button>
  </mat-card-actions>
  
  </mat-card>
  <!--   <mat-selection-list #myAsset>
      <mat-list-option *ngFor="let element of myroster">  
      </mat-list-option>
      
  </mat-selection-list> -->
    
  <!-- 
  </div> -->
  
  </ng-template>
  
  
  <!-- <p>
      Options selected: {{myp2.selectedOptions.selected.length}}
  </p>
  
  </div>
   
  <pre>{{myroster | json }}</pre>
   
  
  
    
    
  <!-     tipo numero  -->
  
     <!--  <ng-container matColumnDef="Num">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container> -->
     
    
