
<ng-template *ngIf="data">
<mat-card>

<div class="pujar">

    <mat-card-header>
        <mat-card-title><small>Hacer Oferta por: </small>
            <br>
            <div class="Player">
            {{ this.PLAYER}}
            </div>
    </mat-card-title>
    </mat-card-header>

    <br>
    <mat-divider></mat-divider>
    <br>

    <mat-card-content>

        <form (ngSubmit)="guardarPuja()" autocomplete="off" [formGroup]="pujaFAForm">

        <mat-form-field>
            <mat-label>Salario</mat-label>
                <input matInput type="number" required formControlName="salarioOffer">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>Años</mat-label>
                <input matInput type="number" required formControlName="years">


        <span matCardSubtitle *ngIf="camposNoValidos('years')" class="validFormAlert">Los años de contrato solo pueden ser de 1 a 3 </span>


        </mat-form-field>


        </form>

    </mat-card-content>
</div>

    <mat-card-actions>

        <div fxLayout="row wrap" fxFlex="100">

           <!--  <div fxFlex="100"> -->
                <div fxFlex="50" align="center">

        <button mat-raised-button extended color="accent" (click)="cancelar()" routerLink="/dashboard/myleague/playersfa">
            <mat-icon>cancel</mat-icon>Cancelar</button>
        <!-- <span class="spacer"></span> -->
                </div>
            <div fxFlex="50" align="center">
                <button mat-raised-button extended color="warn" (click)="pujar()" (click)="openBottomSheet()" type="submit" [disabled]="pujaFAForm.invalid">
                    <mat-icon class="material-icons-outlined">check_circle</mat-icon>Pujar</button>

                </div>
            </div>

    </mat-card-actions>

    <div class="pujar">
        <mat-card-footer>

      <!--   Resumen de la operacion :

        <br> -->


        </mat-card-footer>

    </div>
</mat-card>

</ng-template>
