<!-- 
<app-infogm></app-infogm> -->

<!-- <h1 align="center"> Roster de  </h1>
<mat-divider></mat-divider>
<br> -->

<mat-grid-list cols="1" *ngIf="!dataSource; else divLoaded2">
  <mat-grid-tile>
      <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>


<ng-template #divLoaded2>
  <!-- 
  <span *ngFor="let myp of myroster"></span> -->

  <!-- 

<div fxLayout="row wrap" fxLayoutAlign="center end"> -->

 <!--  <mat-selection-list #myp>
    <mat-list-option *ngFor="let myp of myroster">


      {{myp.TIPO}} : {{myp.POS}} - {{myp.PLAYER}} : {{myp.SALARIO}}
    </mat-list-option>
    
  </mat-selection-list> -->

<!-- 
  <form [formGroup]="miForm">

    <mat-form-field>
      <mat-label>Filter</mat-label>
    
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input formControlName="filter">
    </mat-form-field>


  </form>  -->

  <table mat-table [dataSource]=myroster class="mat-elevation-z8"> 
  <!-- <table mat-table *ngFor="let element of myroster" class="mat-elevation-z8">  -->

 
 <!-- 
    <mat-selection-list #myp2>
        <mat-list-option *ngFor="let myp of myroster"> -->
  
          <!--         {{myp.TIPO }} - {{myp.POS}} : {{myp.PLAYER}} - {{myp.SALARIO}} $ - {{myp.YEARS}}

            </mat-selection-list> 
   
      -->
  
     <ng-container matColumnDef="TIPO">
       <th mat-header-cell *matHeaderCellDef> Tipo </th>
       <td mat-cell *matCellDef="let element"> {{element.TIPO}} </td>
     </ng-container>
   
     <ng-container matColumnDef="POS">
       <th mat-header-cell *matHeaderCellDef> Pos </th>
       <td mat-cell *matCellDef="let element"> {{element.POS}} </td>
     </ng-container>
    
   
     <ng-container matColumnDef="PLAYER">
       <th mat-header-cell *matHeaderCellDef> Nombre </th>
       <td mat-cell *matCellDef="let element"> {{element.PLAYER}} </td>
     </ng-container>
   
     <ng-container matColumnDef="SALARIO">
       <th mat-header-cell *matHeaderCellDef> Salario </th>
       <td mat-cell *matCellDef="let element"> {{element.SALARIO}} </td>
     </ng-container>
    
  
     <ng-container matColumnDef="YEARS">
       <th mat-header-cell *matHeaderCellDef> Años </th>
       <td mat-cell *matCellDef="let element"> {{element.YEARS}} </td>
     </ng-container>
    
   
     <ng-container matColumnDef="OPT">
       <th mat-header-cell *matHeaderCellDef> OPT </th>
       <td mat-cell *matCellDef="let element"> {{element.OPT}} </td>
     </ng-container>
   
   
   
   
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
   <!--     Row shown when there is no matching data.  -->
   <!-- 
     <tr class="mat-row" *matNoDataRow>
       <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
     </tr>
    -->
   <!-- 
        </mat-list-option> -->
   
  
  </table>
   
  

</ng-template>

<!-- <p>
    Options selected: {{myp2.selectedOptions.selected.length}}
</p>

</div>
 
<pre>{{myroster | json }}</pre>
 


  
  
<!-     tipo numero  -->

   <!--  <ng-container matColumnDef="Num">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
   
  