<mat-grid-list cols="1" *ngIf="!dataSource; else divLoaded2">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>


<ng-template #divLoaded2>

  <mat-card>

    <mat-grid-list cols="1" *ngIf="!gminfoT; else divLoadedT">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>


    <ng-template #divLoadedT>

      <mat-card>

        <mat-card-header class="tituloEquipo">
          <mat-card-title style="margin-left: 25px;"> {{gminfoT.EQUIPO}} </mat-card-title>
          <br>
          <br>
          <mat-card-subtitle style="margin-left: 25px;"> {{ gminfoT.AKA }}</mat-card-subtitle>

          <span class="spacer"></span>

          <img mat-card-image [src]=[gminfoT.alt_img] style="margin-right: 25px;">

        </mat-card-header>
      </mat-card>


    </ng-template>


    <br>
    <mat-divider></mat-divider>
    <br>

    <mat-card-content>

      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="ex Bam" #input>
      </mat-form-field>

      <div style="overflow-x: auto;">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="responsive-table">

        <ng-container matColumnDef="TIPO">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Tipo </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2">
            <mat-card-actions>
              <mat-button-toggle-group name="assetsOffer" multiple color="secondary" type="checkbox">
                <mat-button-toggle>
                  <mat-icon>checkbox</mat-icon> {{element.TIPO}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </mat-card-actions>
          </td>
        </ng-container>

        <ng-container matColumnDef="POS">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Pos </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2"> {{element.POS}} </td>
        </ng-container>


        <ng-container matColumnDef="PLAYER">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Nombre </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2"> {{element.PLAYER}} </td>
        </ng-container>

        <ng-container matColumnDef="SALARIO">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Salario </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2" #salario> {{element.SALARIO}} </td>
        </ng-container>


        <ng-container matColumnDef="YEARS">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Años </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2" #years> {{element.YEARS}} </td>
        </ng-container>


        <ng-container matColumnDef="OPT">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Opt </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2"> {{element.OPT}} </td>
        </ng-container>

        <ng-container matColumnDef="DROP">
          <th mat-header-cell *matHeaderCellDef class="mypTIPO3"> Dropear </th>
          <td mat-cell *matCellDef="let element" class="mypTIPO2">
            <mat-card-actions>

              <ng-template [ngIf]="isMyTeam">
                <div *ngIf="element.SALARIO<=2" style="margin: auto;">
                  <button mat-raised-button extended color="warn" (click)="droparPlayer(element.PLAYER, element.SALARIO, element.YEARS)"
                    [disabled]="validDrop">
                    <mat-icon>cancel</mat-icon> Cortar
                  </button>
                </div>
              </ng-template>
            </mat-card-actions>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>



      </table>
    </div>
    </mat-card-content>

  </mat-card>

</ng-template>