
<mat-toolbar class="menubar">

    <button mat-fab extended color="primary" [matMenuTriggerFor]="myteam"><strong>Mi Equipo</strong></button>
<mat-menu #myteam="matMenu">
  <button mat-menu-item routerLink="/dashboard/myteam/infoGM" routerLinkActive="active"><mat-icon mat-list-item>fingerprint</mat-icon>Info</button>
  
  <button mat-menu-item routerLink="/dashboard/myteam/ofertasEnviadas" routerLinkActive="active"><mat-icon mat-list-item>send</mat-icon>Ofertas Enviadas</button>
  
  <button mat-menu-item routerLink="/dashboard/myteam/ofertasRecibidas" routerLinkActive="active"><mat-icon mat-list-item>business</mat-icon>Ofertas Recibidas</button>
  
</mat-menu>

<button mat-fab extended color="primary" [matMenuTriggerFor]="miliga"><strong>Mi Liga</strong></button>
<mat-menu #miliga="matMenu">
  <button mat-menu-item routerLink="/dashboard/myleague/equipos" routerLinkActive="active"><mat-icon mat-list-item>groups</mat-icon> Equipos </button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-fab extended color="accent" [matMenuTriggerFor]="minba"><strong>NBA</strong></button>
<mat-menu #minba="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-fab extended color="warn" [matMenuTriggerFor]="comis" disabled="true">Comisionado</button>
<mat-menu #comis="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-fab extended color="basic" [matMenuTriggerFor]="admin" disabled="true">Admin</button>
<mat-menu #admin="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
            
    

    <span class="spacer"></span>
    
    <button mat-raised-button extended color="warn">{{ user.name }}</button>
    
    <!-- <pre>{{ user.email }}</pre> -->
    <!-- <pre>{{ user.uid }}</pre> -->
    

    <button mat-button
            (click)="logout()">Logout
        <mat-icon>logout</mat-icon>
    </button>

</mat-toolbar>


<div class="container">

  <router-outlet></router-outlet>

</div>


