
<mat-sidenav-container fullscreen>
        
            
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span> Menú </span>
            <span class="spacer"></span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>fingerprint</mat-icon>
                <span> Mi Equipo SLH </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>group</mat-icon>
                <span> Mi Liga SLH </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>scoreboard</mat-icon>
                <span> NBA </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>flag</mat-icon>
                <span> Comisionado </span>
            </a>
            <a (click)="sidenav.toggle()"
                routerLink="#"
                mat-list-item
                routerLinkActive="active"    >
                <mat-icon mat-list-item>block</mat-icon>
                <span> Administrador </span>
            </a>
          
        </mat-nav-list>

    </mat-sidenav>
    
        <mat-toolbar>
            
            <span> Menu </span>

            <button mat-icon-button
                    (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
            </button>

            <span class="spacer"></span>
            
            <pre>{{ user.name }}</pre>
            <!-- <pre>{{ user.email }}</pre> -->
            <!-- <pre>{{ user.uid }}</pre> -->
            

            <button mat-button
                    (click)="logout()">Logout
                <mat-icon>logout</mat-icon>
            </button>

        </mat-toolbar>
    
<div class="container">

    <router-outlet></router-outlet>

</div>


</mat-sidenav-container>
