<mat-grid-list cols="1" *ngIf="!gminfo; else divLoadedgminfo">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divLoadedgminfo>


    <div fxLayout="row wrap">

        <div fxFlex="100">



            <mat-card>
                <mat-card-header>
                    <mat-card-title> {{ gminfo.EQUIPO }}</mat-card-title>
                    <br>
                    <br>
                    <mat-card-subtitle> {{ gminfo.AKA }}</mat-card-subtitle>

                    <span class="spacer"></span>

                    <img mat-card-image [src]=[gminfo.alt_img]>

                </mat-card-header>
                <br>
                <mat-divider></mat-divider>
                <br>

                <mat-card-content>

                    <div fxFlex="50" align="right">


                        <mat-list-item role="listitem" align="right">Manager : <br>
                            Numero de Jugadores : <br>
                            Numero de Derechos : <br>
                            Ingresos : <br>
                            Gastos : <br>
                            CAP Libre : </mat-list-item>

                    </div>
                    <div fxFlex="50" style="margin-left:10px">

                        <mat-list-item><strong> {{ gminfo.Nickname | titlecase }}</strong><br>
                            {{ gminfo.JUGADORES }}<br>
                            {{ gminfo.DERECHOS }}<br>
                            {{130 | currency}} <br>
                            {{ gminfo.Salarios | currency}}<br>
                            <strong> {{ gminfo.SalarioLibre | currency}}</strong></mat-list-item>

                    </div>
                </mat-card-content>

                <br>
                <mat-divider></mat-divider>
                <br>

                <mat-card-footer>
                    <div fxLayout="row wrap">

                        <div fxFlex="100">
                            <div fxFlex="50">


                                <button mat-fab extended color="accent">
                                    <mat-icon>email</mat-icon>E-mail : {{ gminfo.Mail2 }}</button>


                            </div>
                            <div fxFlex="50" align="right">




                                <button mat-fab extended color="secondary">
                                    <mat-icon>near_me</mat-icon>Telegram : {{ gminfo.Telegram }}</button>

                            </div>
                        </div>
                    </div>
                </mat-card-footer>
                <br>
                <mat-divider></mat-divider>
                <br>
            </mat-card>


            <mat-card align="center">

                <button mat-fab extended color="primary" [routerLink]="['/dashboard/myteam/players', gminfo.AKA]">
                    <mat-icon>groups</mat-icon>Roster</button>

            </mat-card>



        </div>
    </div>

</ng-template>