table{

    display: block;
    

}

tbody{

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.mytableresponsive{
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .toolbar ul {
      flex-direction: column;
      align-items: center;
    }
}