table{

    display: block;
    

}

tbody{

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.mytableresponsive{
    overflow-x: auto;
}

.fichadocortado{
    background-color: blue;
}